<ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="/home">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="/aritmetica">Agilidad Aritmética</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="/pipati">Piedra, Papel o Tijera</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="/adivinanumero">Adivina el número</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="/memoria">Memoria</a>
  </li>
</ul>