<div class="justify-content-md-center">
  <div class="row pad-3 center-horizontal">
    <div class="card col-sm-6 col-md-3 ">
      <!-- <img src="..." class="card-img-top" alt="..."> -->
      <div class="card-body margin-bottom">
        <h5 class="card-title">Agilidad Aritmética</h5>
        <p class="card-text">Se le presenta una cuenta aritmética y tiene un tiempo determinado para contestar.</p>
        <a routerLinkActive="active" routerLink="/aritmetica">Jugar</a>
      </div>
    </div>
    <div class="card col-sm-6 col-md-3 margin-sides">
      <!-- <img src="..." class="card-img-top" alt="..."> -->
      <div class="card-body margin-bottom ">
        <h5 class="card-title">Piedra, Papel o Tijeras</h5>
        <p class="card-text">Se le da a elegir una de tres opciones y se juega contra la máquina.</p>
        <a routerLinkActive="active" routerLink="/pipati">Jugar</a>
      </div>
    </div>
    <div class="card col-sm-6 col-md-3">
      <!-- <img src="..." class="card-img-top" alt="..."> -->
      <div class="card-body margin-bottom">
        <h5 class="card-title">Adivina el número</h5>
        <p class="card-text">Se le dá un numero secreto que debe adivinar en la menor cantidad de intentos posible.</p>
        <a routerLinkActive="active" routerLink="/adivinanumero">Jugar</a>
      </div>
    </div>
  </div>
  <div class="row pad-3 center-horizontal">
    <div class="card col-sm-6 col-md-3 pad-top">
      <!-- <img src="..." class="card-img-top" alt="..."> -->
      <div class="card-body margin-bottom">
        <h5 class="card-title">Memoria</h5>
        <p class="card-text">Se muestran 8 cartas y se debe encontrar las parejas antes de que el tiempo se acabe.</p>
        <a routerLinkActive="active" routerLink="/memoria">Jugar</a>
      </div>
    </div>
  </div>
</div>