<div class="justify-content-md-center">
  <div class="pad-3">
    <div class="card center-horizontal">
      <h5 class='card-tittle center-horizontal'>Sala de juegos de Emilio Segado</h5>
      <p class="card-text center-horizontal center-vertical" style="text-align: 'center'">Aquí encontrará diversos juegos que pondrán
        a prueba su destreza cognitiva,
        juegos sencillos
        y clasicos que le mantendrán entretenido.</p>
      <p class="card-text center-horizontal">El juego "Memoria" es adicional.</p>
    </div>
  </div>
  <div class="row pad-3 center-horizontal">
    <div class="card col-sm-6 col-md-3 margin-sides">
      <img src="../../../assets/images/aritmetica.png" class="card-img-top" alt="aritmetica">
      <div class="card-body margin-bottom">
        <h5 class="card-title">Agilidad Aritmética</h5>
        <p class="card-text">Se le presenta una cuenta aritmética y tiene un tiempo determinado para contestar.</p>
        <div class="card-footer center-horizontal"><a routerLinkActive="active" routerLink="/aritmetica">Jugar</a></div>
      </div>
    </div>
    <div class="card col-sm-6 col-md-3 margin-sides">
      <img src="../../../assets/images/pipati.png" class="card-img-top" alt="piedra, papel, tijera">
      <div class="card-body margin-bottom ">
        <h5 class="card-title">Piedra, Papel o Tijeras</h5>
        <p class="card-text">Se le da a elegir una de tres opciones y se juega contra la máquina.</p>
        <div class="card-footer center-horizontal"><a routerLinkActive="active" routerLink="/pipati">Jugar</a>
        </div>
      </div>
    </div>
    <div class="card col-sm-6 col-md-3 margin-sides">
      <img src="../../../assets/images/adivina.png" class="card-img-top" alt="adivina el numero">
      <div class="card-body margin-bottom">
        <h5 class="card-title">Adivina el número</h5>
        <p class="card-text">Se le dá un numero secreto que debe adivinar en la menor cantidad de intentos posible.</p>
        <div class="card-footer center-horizontal"><a routerLinkActive="active" routerLink="/adivinanumero">Jugar</a>
        </div>
      </div>
    </div>
    <div class="card col-sm-6 col-md-3 margin-sides">
      <img src="../../../assets/images/memoria.png" class="card-img-top" alt="memoria">
      <div class="card-body margin-bottom">
        <h5 class="card-title">Memoria</h5>
        <p class="card-text">Se muestran 8 cartas y se debe encontrar las parejas antes de que el tiempo se acabe.</p>
        <div class="card-footer center-horizontal"><a routerLinkActive="active" routerLink="/memoria">Jugar</a>
        </div>
      </div>
    </div>
  </div>
</div>